
/* button styles */

button:focus {
  outline: 0;
}

.btn {
  border-radius: 0;
  border-width: 1px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 16px;
}

// Red button
.btn_mapzen,
.btn-mapzen {
  border-color: $mz-red;
  background-color: $mz-red;
  color: #fff;
  text-shadow: none;

  &:hover,
  &:focus {
    border-color: $mz-darkred;
    background-color: $mz-darkred;
    color: #fff;
  }
}

// Transparent button
// Sometimes on white, sometimes on light gray
.btn_transparent,
.btn-transparent {
  background: transparent;
  border-color: $mz-darkgray;
  color: $mz-darkgray;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border-color: $mz-darkgray;
    color: $mz-darkgray;
  }
}

// Gray button
// Rarely (never?) used
.btn-dark {
  border-color: #333;
  background-color: #333;
  color: #fff;

  &:hover,
  &:focus {
    border-color: #000;
    background-color: #000;
    color: #fff;
  }
}
