.no-overflow {
  overflow: inherit;
}

// Vertical spacing for layout
// --------------------------------------------------

.headroom {
  margin-top: 10px;

  @media (min-width: $screen-sm) {
    margin-top: 20px;
  }
}

.headroom-med {
  margin-top: 15px;

  @media (min-width: $screen-sm) {
    margin-top: 30px;
  }
}

.headroom-large {
  margin-top: 20px;

  @media (min-width: $screen-sm) {
    margin-top: 40px;
  }
}

.headroom-extra-large {
  margin-top: 50px;

  @media (min-width: $screen-sm) {
    margin-top: 100px;
  }
}

.footroom {
  margin-bottom: 10px;

  @media (min-width: $screen-sm) {
    margin-bottom: 20px;
  }
}

.footroom-med {
  margin-bottom: 15px;

  @media (min-width: $screen-sm) {
    margin-bottom: 30px;
  }
}

.footroom-large {
  margin-bottom: 20px;

  @media (min-width: $screen-sm) {
    margin-bottom: 40px;
  }
}

.footroom-extra-large {
  margin-bottom: 50px;

  @media (min-width: $screen-sm) {
    margin-bottom: 100px;
  }
}

.neg-margin-top {
  margin-top: -20px;

  @media (min-width: $screen-sm) {
    margin-top: -30px;
  }
}

.hor-margin {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $screen-sm) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.vert-pad {
  padding-top: 30px;
  padding-bottom: 10px;
}

.horz-pad {
  padding: 0px 15px;
}

.no_margin,
.no-margin {
  margin: 0px;
}

.no_padding,
.no-padding {
  padding: 0px;
}

.sm-no-padding {
  @media only screen and (max-width: $screen-sm-max) {
    padding: 0px;
  }
}

// Additional padding on left side of a column
// Medium and up screens only
.hor-pad-left {
  @media only screen and (min-width: $screen-md-min) {
    padding-left: 40px;
    padding-right: 0;
  }
}

// Additional padding on right side of a column
// Medium and up screens only
.hor-pad-right {
  @media only screen and (min-width: $screen-md-min) {
    padding-left: 0;
    padding-right: 40px;
  }
}

// Text styles
// --------------------------------------------------

.blue-text {
  color: $mz-blue;
}

.red-text {
  color: $mz-red;
}

.gray-text {
  color: #666;
}

.dark-gray-text {
  color: #333333;
}

.text-16 {
  font-family: $mz-sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
}

.text-18 {
  font-family: $mz-sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}
