footer {

  // Migrate a version of mapzen.com's h5 style for 'Get Involved'
  h5 {
    font-family: 'Montserrat', 'Playfair Display', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.4;
    color: #666666;
  }
}