/*
 * Side navigation (aka "toc" or "Table of Contents")
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* First level of nav */
.toc {
  font-weight: 300;
  background-color: $mz-lightgray;

  // For mobile layout, add a margin between TOC and documentation content.
  margin-bottom: 30px;

  // When affixed, TOC should never extend past the height of the viewport.
  // If it is longer than there is space, add a scrollbar.
  max-height: calc(100% - 120px);
  overflow-x: hidden;
  overflow-y: auto;

  // Show and affix the TOC when space allows it

  // By default it's not affixed in mobile views, so undo that
  &.affix {
    position: static;
  }

  // Once we scroll TOC out of the way, Bootstrap adds the affix-bottom class.
  // We must reset max-height at this point otherwise this could cause jumpiness.
  &.affix-bottom {
    max-height: none;
  }

  // All nav links
  a {
    display: block;
    padding: 5px 15px; // Right-left padding matches Bootstrap .nav
    z-index: 1;
    color: #333;
    text-decoration: none;

    -webkit-transition: box-shadow 100ms ease-in-out;
       -moz-transition: box-shadow 100ms ease-in-out;
            transition: box-shadow 100ms ease-in-out;
  }

  // Top-level "main" items
  li.toc-top-level {
    font-weight: bold;
  }

  // State and interaction
  // If current, display box-shadow & background color
  li.toc-current > a {
    background-color: #eee;
    box-shadow: inset 4px 0 0 #385d5c;
  }
}

@media (min-width: 992px) {
  .toc .nav > .active > ul {
    display: block;
  }
  // Widen the fixed sidebar
  .toc.affix,
  .toc.affix-bottom {
   width: 210px;
  }
  .toc.affix {
    position: fixed; // Undo the static from mobile first approach
    top: 75px;
  }
  .toc.affix-bottom {
    position: absolute; // Undo the static from mobile first approach
  }
}

/*
ul.nav > li:first-child:last-child {
  display: none;
}
*/

// Nav stuff
.toc-subnav {
  list-style-type: none;
  padding: 0;
  font-weight: 400;

  // Start in a collapsed-condition
  max-height: 0;
  overflow: hidden;

  // Animation
  -webkit-transition: max-height 200ms ease-in-out;
  -moz-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;

  // If expanded
  // We are animating to a super high max-height
  // because the exact height of the subnav is unknown.
  // This is pretty hacky, actually.
  &.toc-expand {
    max-height: 1000px;
  }

  // Link states and interaction inside of a sub-nav
  // TODO: Some nav items are colored by a Bootstrap variable set to this color.
  a:hover,
  a:focus {
    background-color: #eee;
  }

  // Current sub entry
  // The difference is a slightly smaller box-shadow
  li.toc-current > a {
    box-shadow: inset 2px 0 0 #385d5c;
  }

  // Actual active section
  li.active > a {
    background-color: $mz-darkblue;
    color: white;
  }

  // Sub menu indents
  .toc-subnav {
    > li > a {
      padding-left: 30px;
    }
  }
}
