// Replacement fonts with Montserrat
$docs-heading-font: 'Montserrat', 'Playfair Display', sans-serif;
$docs-accent-font: 'Montserrat', 'Open Sans', sans-serif;

//== Breadcrumbs
//

$breadcrumb-padding-vertical: 1em;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $mz-gray;
$breadcrumb-separator: "\f105";

//== Tables
//

$table-bg-accent:               transparent;
$table-bg-hover:                transparent;
