/* These class names are temporary */
li.toc-top-level.toc-current.toc-main > a {
  background-color: transparent; /**/
  color: #385d5c;
}

.toc-section > li > a {
  text-transform: uppercase;
}

.toc-sub-section {
  list-style: none;
  padding-left: 0;
}

.toc-subnav.toc-section > li.active > a {
  box-shadow: none;
  font-weight: 400;
}
.toc-subnav .toc-sub-section > li.active > a {
  box-shadow: inset 4px 0 0 #385d5c;
}
.toc-subnav .toc-sub-sub-section > li.active > a {
  box-shadow: none;
}


.toc-sub-sub-section {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}

.toc-list-toggle {
  font-size: 12px;
  font-weight: 400;
}

.toc-list-title {
  margin-right: 10px;
}