<li {% if nav_item.active %}class='toc-current'{% endif %}>
  {% if not nav_item.children %}
    <a href='{{ nav_item.url }}'>{{ nav_item.title }}</a>
    {% if nav_item.active %}
      {% include 'toc-sub.html' %}
    {% endif %}
  {% else %}
    <!-- This is when there is subcategory coming from config.yml -->
    <a href='{% if nav_item.active %} {{nav_item.url}} {% else %} {{nav_item.children[0].url}} {% endif %} '> {{ nav_item.title }}</a>
    <ul class='toc-subnav'>
      {% if nav_item.active %}
        {% for nav_item in nav_item.children %}
          <li class='boing main{% if nav_item.active %} toc-current{% endif %}'>
            <a href='{{ nav_item.url }}'>{{nav_item.title}} </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endif %}
</li>
