<ul class='toc-subnav toc-expand toc-section'> <!--h2-->
  {% for toc_item in toc %}
  <li>
    <a href='{{ toc_item.url }}'>{{ toc_item.title }}</a>
    <ul class='toc-sub-section'><!--h3-->
      {% for toc_item_header_2 in toc_item.children %}
      <li>
        <a class="toc-list-toggle" href='{{ toc_item_header_2.url }}'>
          <span class='toc-list-title'>{{toc_item_header_2.title}}</span>{% if toc_item_header_2.children %}<i class="fa fa-angle-right" aria-hidden="true"></i>{% endif %}
        </a>
        <ul class="toc-subnav toc-sub-sub-section"><!--h4-->
          {% for toc_item_header_3 in toc_item_header_2.children %}
          <li>
            <a href='{{ toc_item_header_3.url }}'>
              {{toc_item_header_3.title}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
