<div class='toc hidden-print' role='directory' id='toc'>
  <ul class='nav toc-nav'>

  {% if include_nav %}
    {% for nav_item in nav if not nav_item.title == 'README' %}
      {% if nav_item.children %}
        <li class='toc-top-level toc-main{% if nav_item.active %} toc-current{% endif %}'>
          <a href='#' class='toc-subnav-toggle'>{{ nav_item.title }}</a>
          {% if not (loop.first == true) %}
            <ul class='toc-subnav{% if nav_item.active %} toc-expand{% endif %}'>
              {% for nav_item in nav_item.children %}
                {% include 'nav-sub.html' %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% else %}
        <li class='toc-top-level toc-main{% if nav_item.active %} toc-current{% endif %}'>
          <a href='{{ nav_item.url }}'>{{ nav_item.title }}</a>
        {% if not (loop.first and config.extra.exclude_home_contents_in_toc == true) %}
          {% if nav_item.active %}
            {% include 'toc-sub.html' %}
          {% endif %}
        {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  </ul>
</div>

