<div class='bs-sidebar hidden-print well' role='complementary'>
  <ul class='nav bs-sidenav'>

  {% if include_nav %}
    {% for nav_item in nav %}
    {% if nav_item.children %}
      <li class='main{% if nav_item.active %} active{% endif %}'>
        <a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{ nav_item.title }} <b class='caret'></b></a>
        <ul class='dropdown-menu toc-subnav'>
        {% for nav_item in nav_item.children %}
          {% include 'nav-sub.html' %}
        {% endfor %}
        </ul>
      </li>
    {% else %}
      <li class='main{% if nav_item.active %} active{% endif %}'>
        <a href='{{ nav_item.url }}'>{{ nav_item.title }}</a>
      </li>
      {% if nav_item.active %}
        {% include 'toc-sub.html' %}
      {% endif %}
    {% endif %}
    {% endfor %}
  {% endif %}
  </ul>
</div>